<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8" />
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
	<title>	{% block title %} JackonTour {% endblock %} </title>

{% block stylesheets %}
<link rel="stylesheet" href='http://fonts.googleapis.com/css?family=Roboto:300,400,700' type='text/css'>
<link rel="stylesheet" href="{{ asset('bundles/paulpjackontour/fonts/font-awesome.css') }}" type="text/css">
<link rel="stylesheet" href="{{ asset('bundles/paulpjackontour/bootstrap/css/bootstrap.css') }}" type="text/css">
<link rel="stylesheet" href="{{ asset('bundles/paulpjackontour/css/bootstrap-select.min.css') }}" type="text/css">
<link rel="stylesheet" href="{{ asset('bundles/paulpjackontour/css/jquery.slider.min.css') }}" type="text/css">
<link rel="stylesheet" href="{{ asset('bundles/paulpjackontour/css/owl.carousel.css') }}" type="text/css">
<link rel="stylesheet" href="{{ asset('bundles/paulpjackontour/css/style.css') }}" type="text/css">

<!--link type="text/css" rel="stylesheet" href="{{ asset('bundles/paulpjackontour/mycss/custom.css') }}" -->

<!-- porta giu -->
<script type="text/javascript" src="{{ asset('bundles/paulpjackontour/js/jquery-2.1.0.min.js') }}"></script>

<script src="https://maps.googleapis.com/maps/api/js?key={{googlekey}}"></script>
<script>
var pinicon = "{{ asset('bundles/paulpjackontour/myimg/icon_pin.png') }}";
var paulpicon = "{{ asset('bundles/paulpjackontour/myimg/paulpm.ico') }}";
var clusterStyles = [
{
   textColor: 'white',
   url: '{{ asset('bundles/paulpjackontour/myimg/clusterMarker1.png') }}',
   width: 29,
   height: 29
}
];
</script>
{% endblock %}
</head>

<body class="page-homepage navigation-fixed-bottom xhas-fullscreen-map map-google" id="page-top" data-spy="scroll" data-target=".navigation" data-offset="90">

{% block body %}
<div class="wrapper">

{% block menu %}
<div class="navigation">
	<div class="secondary-navigation">
            <div class="container">
                <div class="contact">
                    <span class="glyphicon glyphicon-bell text-primary" aria-hidden="true"></span>
			Hai avuto la fortuna di incontrare Jack lo SquartatorTe? Inserisci qui la parola segreta per accedere.
                </div>
		{% if is_granted('IS_AUTHENTICATED_FULLY') %}
		<div class="user-area">
                    <div class="actions">
                      <span class="glyphicon glyphicon-user text-primary" aria-hidden="true"></span>
                      {{ app.user.username }} -
                      <a href="{{ path('logout') }}" class="navbar-link">Logout <span class="glyphicon glyphicon-off text-danger" aria-hidden="true"></span></a>
                    </div>
		</div>
		{% endif %}
<!--
                    <div class="language-bar">
                        <a href="#" class="active"><img src="assets/img/flags/gb.png" alt=""></a>
                        <a href="#"><img src="assets/img/flags/de.png" alt=""></a>
                        <a href="#"><img src="assets/img/flags/es.png" alt=""></a>
                    </div>
-->
            </div>
	</div>
        <div class="container">
            <header class="navbar" id="top" role="banner">
                <div class="navbar-header">
                    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <div class="navbar-brand nav" id="brand">
                        <a href="index-google-map-fullscreen.html"><img src="{{ asset('bundles/paulpjackontour/img/logo.png') }}" alt="brand"></a>
                    </div>
                </div>
                <nav class="collapse navbar-collapse bs-navbar-collapse navbar-right" role="navigation">
                    <ul class="nav navbar-nav">
                        <li class="active has-child"><a href="#">Homepage</a>
                            <ul class="child-navigation">
				<li><a href="{{ path('home') }}">Percorso</a></li>
				<li><a href="{{ path('listappe') }}">LisTappe</a></li>
				<li><a href="http://paulpastrello.it">Libro</a></li>
				<li><a href="{{ path('instapics') }}">#JackonInstagram</a></li>
			    </ul>
                        </li>
		   </ul>
		</nav>
	</header>
	</div>
</div>
{% endblock %}

{% block alerts %}
<div class="container">
<div class="geo-location-wrapper">
	<span class="alert alert-danger alert-dismissible" role="alert">
        <span class="glyphicon glyphicon-ban-circle" aria-hidden="true"></span> 
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        Esempio di messaggio di errore che potrebbe uscire
</span>
		{% for flashMessage in app.session.flashbag.get('danger') %}
			<div class="alert alert-danger alert-dismissible" role="alert">
			<span class="glyphicon glyphicon-ban-circle" aria-hidden="true"></span> 
			<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			{{ flashMessage }}</div>
		{% endfor %}
		{% for flashMessage in app.session.flashbag.get('warning') %}
			<div class="alert alert-warning alert-dismissible" role="alert">
			<span class="glyphicon glyphicon-alert" aria-hidden="true"></span>
			<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			{{ flashMessage }}</div>
		{% endfor %}
		{% for flashMessage in app.session.flashbag.get('success') %}
			<div class="alert alert-success alert-dismissible" role="alert">
			<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
			<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			{{ flashMessage }}</div>
		{% endfor %}
		{% for flashMessage in app.session.flashbag.get('info') %}
			<div class="alert alert-info alert-dismissible" role="alert">
			<span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
			<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			{{ flashMessage }}</div>
		{% endfor %}
</div>
</div>
{% endblock %}

{% block page %}{% endblock %}

{% block footer %}
<footer id="page-footer">
    <div class="inner">
        <aside id="footer-main">
            <div class="container">
            </div><!-- /.container -->
        </aside><!-- /#footer-main -->
        <aside id="footer-thumbnails" class="footer-thumbnails"></aside><!-- /#footer-thumbnails -->
        <aside id="footer-copyright">
            <div class="container">
                <span>Puoi acquistare Jack lo squartatorTe qui.</span>
                <span class="pull-right"><a href="#page-top" class="roll">Go to top</a></span>
            </div>
        </aside>
    </div><!-- /.inner -->
</footer>
{% endblock %}

</div>
{% endblock %}

{% block javascripts %}
<script type="text/javascript" src="{{ asset('bundles/paulpjackontour/js/jquery-2.1.0.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/paulpjackontour/js/jquery-migrate-1.2.1.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/paulpjackontour/js/jquery.validate.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/paulpjackontour/js/jquery.placeholder.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/paulpjackontour/js/jquery.vanillabox-0.1.5.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/paulpjackontour/js/jshashtable-2.1_src.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/paulpjackontour/bootstrap/js/bootstrap.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/paulpjackontour/js/smoothscroll.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/paulpjackontour/js/infobox.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/paulpjackontour/js/bootstrap-select.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/paulpjackontour/js/icheck.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/paulpjackontour/js/retina-1.1.0.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/paulpjackontour/js/jshashtable-2.1_src.js') }}"></script>

<!-- slider dependencies -->
<script type="text/javascript" src="{{ asset('bundles/paulpjackontour/js/jquery.numberformatter-1.2.3.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/paulpjackontour/js/tmpl.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/paulpjackontour/js/jquery.dependClass-0.1.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/paulpjackontour/js/draggable-0.1.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/paulpjackontour/js/jquery.slider.js') }}"></script>

<script type="text/javascript" src="{{ asset('bundles/paulpjackontour/js/markerclusterer_packed.js') }}"></script>
<!--[if gt IE 8]>
<script type="text/javascript" src="{{ asset('bundles/paulpjackontour/js/ie.js') }}"></script>
<![endif]-->

<!-- <script type="text/javascript" src="{{ asset('bundles/paulpjackontour/js/markerwithlabel_packed.js') }}"></script> -->
<script type="text/javascript" src="{{ asset('bundles/paulpjackontour/js/owl.carousel.min.js') }}"></script>
<!-- <script type="text/javascript" src="{{ asset('bundles/paulpjackontour/js/custom.js') }}"></script> -->

<script type="text/javascript" src="{{ asset('bundles/paulpjackontour/myjs/custom.js') }}"></script>
<script src="{{ asset('bundles/paulpjackontour/myjs/gmap.js') }}"></script>

<script>
    $(window).load(function(){
        initializeOwl(false);
    });
</script>
{% endblock %}

</body>
</html>
