<section id="price-drop" class="block">
<div class="container">

<header class="section-title">
<h2>Price Drop</h2>
<a href="{{ path('listappe') }}" class="link-arrow"> LisTappe </a>
</header>

<div class="row">
<div class="list-group">
	{% for tp in tappe %}
	<div class="col-md-3 col-sm-6">
           <div class="property">
              <figure class="tag status">{{ tp.data|date("d/m/Y") }}</figure>
              {% if app.session.get('lastId') is defined and app.session.get('lastId') == tp.id %}
                                <a class="btn btn-block btn-xs btn-danger" href="{{ path('remove_stop', {'id': tp.id}) }}"
                                onclick="return confirm('Vuoi davvero cancellare la tappa?')">Cancella tappa</a>
              {% endif %}
              <div class="property-image">
                   <img alt="" src="{{ asset('bundles/paulpjackontour/img/properties/property-06.jpg') }}">
              </div>
              <div class="overlay">
                     <div class="info">
        	             <div class="tag price">{{ tp.nome }}</div>
                             <h3>{{ tp.addr }}</h3>
                             <figure>{{ tp.city|default(tp.addr) }}</figure>
                      </div>
               </div>
        </div>
		<div class="inarray hidden">
			<div>{{ tp.latlng }}</div>
			<div>{{ loop.index }}</div>
			<div>{{ tp.addr }}</div>
		</div>
	
	{% endfor %}
</div>
</div>

</div>
</section>

<script type="text/javascript">
<!--
var list = $("div.inarray").map(function() { 
	return [$(this).children("div").map(function() {return $(this).text()}).get()]	
	}).get();

function delTappa(id){

}	
function renderlist(page, offset){
	var callUrl = "/list/" + page ;

	if (offset!=='undefined' && offset>0){
	 callUrl = callUrl + "/" + offset ;
	};

	$.ajax({
	        type: "GET",
	        url: callUrl,
	        success: function(response) {
	        	$('#renderList').html( response );
	        	rendering();
	        },
	        beforeSend: function() {
	        	$('#loading').removeClass('hidden');
	        	$('#pagination').children().addClass('disabled');
	        	$('#prepagination').children().addClass('disabled');        	
	        }
	    });
}
//-->
</script>
