{% extends "PaulpJackontourBundle::base.html.twig" %}

{% block page %}
{{ include('PaulpJackontourBundle:Tour:map.html.twig') }}

<div class="search-box-wrapper">
     <div class="search-box-inner">
        <div class="container">
	<div class="row">
        <div class="col-md-3 col-sm-4">
        <div class="search-box map">
		{% if is_granted('IS_AUTHENTICATED_FULLY') %}
			{{ include('PaulpJackontourBundle:Stop:add/stepone.html.twig') }}
		{% else %}
			{{ include('PaulpJackontourBundle:Security:login.html.twig') }}
		{% endif %}
	</div>
	</div>
	</div>
	</div>
    </div>
</div>

<div id="page-content">
	{{ render(controller('PaulpJackontourBundle:Tour:list')) }}
</div>
	
{% endblock %}

{% block javascripts %}
{{ parent() }}
{% if is_granted('IS_AUTHENTICATED_FULLY') %}
<script src="{{ asset('bundles/paulpjackontour/myjs/tappe.js') }}"></script>
{% endif %}

{% endblock %}
