{% extends "PaulpJackontourBundle::base.html.twig" %}

{% block page %}
	
	{% if is_granted('IS_AUTHENTICATED_FULLY') %}
		{{ include('PaulpJackontourBundle:Stop:add/stepone.html.twig') }}
	{% else %}
		{{ include('PaulpJackontourBundle:Security:login.html.twig') }}
	{% endif %}
	
	<div class="row">	
		<div class="col-sm-9 col-xs-12">
			{{ include('PaulpJackontourBundle:Tour:map.html.twig') }}
		</div>
		<div class="visible-xs col-xs-12 page-header"></div>
		<div class="col-sm-3 col-xs-12">
			{{ render(controller('PaulpJackontourBundle:Tour:list')) }}
		</div>
	</div>
	
{% endblock %}

{% block javascripts %}
{{ parent() }}
{% if is_granted('IS_AUTHENTICATED_FULLY') %}
<script src="{{ asset('bundles/paulpjackontour/js/tappe.js') }}"></script>
{% endif %}
{% endblock %}
