{% extends "PaulpJackontourBundle::base.html.twig" %}

{% block page %}
	
	{{ include('PaulpJackontourBundle:Stop:add/steptwo.html.twig') }}
	<div class="inarray hidden">
		<div>{{ form.vars.value.latlng }}</div>
		<div>0</div>
		<div>{{ form.vars.value.addr }}</div>
	</div>
		
	<div class="row">
		<div class="col-xs-12">
			{{ include('PaulpJackontourBundle:Tour:map.html.twig') }}
		</div>
	</div>

{% endblock %}	

{% block javascripts %}
{{ parent() }}
<script type="text/javascript">
<!--
var list = $("div.inarray").map(function() { 
	return [$(this).children("div").map(function() {return $(this).text()}).get()]	
	}).get();

//-->	
</script>
{% endblock %}
